a {
    color: white;
    text-align: center;
    background-color: none;
    display: inline-block;
    padding: 12px 25px;
    text-decoration: none;
}
a:hover {
    background-color: #ff0000;
}
#active {
    background-color: green;
    color: blue;
} 
/* Style for the welcome message */
#welcome {
    font-size: 20px;
    font-weight: bold;
    color: white; /* You can change the color as needed */
}

/* Additional styles for text and buttons */
h1, h5, p {
    color: white;
}

.navbar {
    background-color: rgba(0, 0, 0, 0.5); /* Transparent navbar background */
}

.carousel-caption {
    background-color: rgba(0, 0, 0, 0.7); /* Transparent background for carousel captions */
    padding: 10px;
    border-radius: 10px;
}

/* Accordion button styling */
.accordion-button {
    font-weight: bold;
    color: #333;
}

.accordion-body {
    background-color: #f8f9fa;
    color: #333;
}
