#wellcome {
    color: aqua;
    font-size: 40px;
    margin: auto;
    background-color: none;
}
.mytable{
    color: green;
    background-color: white;
    font-size: medium;
    font-style: unset;
    margin-left: 20px;
    margin-top: 120px;
}
#ddd {
    color:green;
}
#dd {
    color: yellow;
}
#d {
    color:red;
}
.footer {
    background-color: #222;
    color: #fff;
    padding: 20px;
}

.footer-logo {
    text-align: center;
    margin-bottom: 20px;
}

.footer-logo img {
    max-width: 150px;
}

.footer-links, .footer-social {
    text-align: center;
    margin-bottom: 20px;
}

.footer-links ul, .footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li, .footer-social ul li {
    margin: 5px 0;
}

.footer-links ul li a, .footer-social ul li a {
    color: #fff;
    text-decoration: none;
}

.footer-divider {
    border-top: 1px solid #555;
    margin: 20px 0;
}

.footer-address, .footer-copyright {
    text-align: center;
    font-size: 14px;
}

